h1
{
  text-align: center;
  font-family: Calibri;
}
h2
{
  font-style: strong;
  font-family: Calibri;
}
h3
{
  font-family: Calibri;
}
p
{
  font-family: Calibri;
}
.lien-division {
    display: block; /* Permet d'agir comme une div */
    width: 200px;  
    padding: 15px;
    background-color: lightgray;
    color: white;
    text-align: center;
    text-decoration: none; /* Supprime le soulignement */
    border: 2px black;
    border-radius: 10px; /* Arrondit les bords */
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s; /* Animation fluide */
}

.lien-division:hover {
    background-color: black;
    color: white;
}
